Berikut adalah library yang digunakan dalam proses analisis

pandas untuk mengolah data
numpy untuk mengolah data
datetime untuk mengatur data yang berkaitan dengan waktu
matplotlib untuk visualisasi data
streamlit untuk menjalankan dashboard